<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page}">
<head>
    <title>Missions</title>
</head>
<body>

<main id="main" role="main">
    <div layout:fragment="main">



        <div class="d-md-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom DashPage__Title">
            <h1 class="h2">Missions</h1>
            <!--<div class="btn-toolbar">-->
            <!--<button class="btn btn-sm btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>

        <div class="DashSection mt-0">
            <div class="row">

                <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4" th:each="satellite : ${allSatellites}">
                    <div class="card text-center mt-32">
                        <div class="card-body">
                            <div style="height:100px;" class="mb-24 jsDash__resizeToEllipse">
                                <img th:src="${'/images/' + satellite.imageUrl}" style="max-width:60%; height:auto;" th:alt="${satellite.name}" src="/images/funcube-fm.png" alt="FUNcube Engineering Model">
                            </div>
                            <a th:if="${satellite.url == 'fc1-fm'}" href="http://warehouse.funcube.org.uk" target="_blank" class="btn btn-block btn-secondary mb-24"><span th:text="${satellite.name}">Satellite Name</span></a>
                            <a th:unless="${satellite.url == 'fc1-fm'}" href="#" th:href="@{'/ui/' + ${satellite.url}}" class="btn btn-block btn-secondary mb-24"><span th:text="${satellite.name}">Satellite Name</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</main>

<script layout:fragment="script">

    $(function () {

        Feedgen.platforms.init();

    });

</script>

</body>
</html>