<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/page}">
<head>
    <title>Satellites</title>
</head>
<body>

<main id="main" role="main">
    <div layout:fragment="main">



        <div class="d-md-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom DashPage__Title">
            <h1 class="h2">Status</h1>
            <!--<div class="btn-toolbar">-->
            <!--<button class="btn btn-sm btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>

        <div class="DashSection mt-0">
            <div class="row">
                <table>
                    <thead>
                        <tr class="d-flex">
                            <th class="col-2">Satellite 1</th>
                            <th class="col-2">Satellite 2</th>
                            <th class="col-2">Satellite 3</th>
                            <th class="col-2">Satellite 4</th>
                            <th class="col-2">Satellite 5</th>
                            <th class="col-2">Satellite 6</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex">
                            <td class="col-2"><span>G4DPZ</span>&nbsp;<span>1000</span></td>
                            <td class="col-2"><span>G4DPZ</span>&nbsp;<span>2000</span></td>
                            <td class="col-2"><span>G4DPZ</span>&nbsp;<span>3000</span></td>
                            <td class="col-2"><span>G4DPZ</span>&nbsp;<span>4000</span></td>
                            <td class="col-2"><span>G4DPZ</span>&nbsp;<span>5000</span></td>
                            <td class="col-2"><span>G4DPZ</span>&nbsp;<span>6000</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</main>

<script layout:fragment="script">

    $(function () {

        Feedgen.platforms.init();

    });

</script>

</body>
</html>