<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" th:href="@{/images/favicon-16x16.png}" sizes="16x16">
    <link rel="icon" type="image/png" th:href="@{/images/favicon-24x24.png}" sizes="24x24">
    <link rel="icon" type="image/png" th:href="@{/images/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/images/favicon-64x64.png}" sizes="64x64">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bundle.min.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.css"/>
    <title layout:title-pattern="$CONTENT_TITLE &middot; $LAYOUT_TITLE">AMSAT-UK Data Warehouse</title>
</head>
<body class="bg-light">

<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        <div th:replace="fragments/satellite-sidebar :: default"></div>

        <div class="d-block px-24 px-md-32 DashMainWrapper">
            <main role="main" class="DashMain">
                <div layout:fragment="main"></div>
            </main>
        </div>

    </div>
</div>

<script src="/js/bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.js"></script>
<script layout:fragment="script"></script>

</body>
</html>