<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" th:href="@{/images/favicon-16x16.png}" sizes="16x16">
    <link rel="icon" type="image/png" th:href="@{/images/favicon-24x24.png}" sizes="24x24">
    <link rel="icon" type="image/png" th:href="@{/images/favicon-32x32.png}" sizes="32x32">
    <link rel="icon" type="image/png" th:href="@{/images/favicon-64x64.png}" sizes="64x64">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bundle.min.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.css"/>
    <title layout:title-pattern="$CONTENT_TITLE &middot; $LAYOUT_TITLE">AMSAT-UK Data Warehouse</title>
</head>
<body class="bg-light">

<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        <div th:replace="fragments/eseo/sidebar :: default"></div>

        <div class="d-block px-24 px-md-32 DashMainWrapper">
            <main role="main" class="DashMain">
                <div layout:fragment="main"></div>
            </main>
        </div>

    </div>
</div>

<script src="/js/bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.js"></script>
<th:block layout:fragment="script"></th:block>

<script layout:fragment="script"></script><script>
    $(document).ready(function(){
        refreshRealtime();
        setInterval(refreshRealtime, 5000);
    });
</script>

<script>
    function refreshRealtime(){

        var url = "/eseo/data/realtime";

        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json",
            accepts : "application/json",
            dataType: "jsonp",
            crossDomain: true,
            cache: false,
            success : handleRealtime
        });
    }
</script>

<script>
    var handleRealtime = function(data) {

        $("#info_seqno").text("Seq. No.: " + data.data.sequenceNumber);
        $("#info_packet_count").text("Packets: " + data.data.packetCount);
        $("#created_date").text(data.data.createdDate);
        $("#lat_long").text(data.data.latLong);

        $("#dcConvVoltsOut_value").text(data.data.epsDTO.dcConvVoltsOut + " V");
        $("#dcConvCurrOut_value").text(data.data.epsDTO.dcConvCurrOut + " mA");
        $("#dcConvTemp_value").text(data.data.epsDTO.dcConvTemp + " C");
        $("#enclosureTemp_value").text(data.data.epsDTO.enclosureTemp + " C");
        $("#cctProcTemp_value").text(data.data.epsDTO.cctProcTemp + " C");
        $("#volts3v3_value").text(data.data.epsDTO.volts3v3 + " V");
        $("#curr3v3_value").text(data.data.epsDTO.curr3v3 + " mA");
        $("#volts6v9_value").text(data.data.epsDTO.volts6v9 + " V");
        $("#curr6v9_value").text(data.data.epsDTO.curr6v9 + " mA");
        $("#volts9v_value").text(data.data.epsDTO.volts9v + " V");
        $("#curr9v_value").text(data.data.epsDTO.curr9v + " mA");

        $("#fmTxTemp_value").text(data.data.paDTO.fmTxTemp + " C");
        $("#bpskTemp_value").text(data.data.paDTO.bpskTemp + " C");
        $("#txRevPwr_value").text(data.data.paDTO.txRevPwr + " mW");
        $("#txFwdPwr_value").text(data.data.paDTO.txFwdPwr + " mW");
        $("#bpskCurr_value").text(data.data.paDTO.bpskCurr + " mA");
        $("#bpsk3v3_value").text(data.data.paDTO.bpsk3v3 + " mA");

        $("#lBandTranspRxRssi_value").text(data.data.rfDTO.lBandTranspRxRssi + " dBm");
        $("#lBandCmdRxRssi_value").text(data.data.rfDTO.lBandCmdRxRssi + " dBm");
        $("#lBandCmdRxDop_value").text(data.data.rfDTO.lBandCmdRxDop + " kHz");
        $("#lBandCmdRxTemp_value").text(data.data.rfDTO.lBandCmdRxTemp + " C");

        $("#sequenceNumber_value").text(data.data.swDTO.sequenceNumber);
        $("#dtmfLastCmd_value").text(data.data.swDTO.dtmfLastCmd);
        $("#rfMode_value").text(data.data.swDTO.rfMode);
        $("#dataMode_value").text(data.data.swDTO.dataMode);
        $("#payloadStatus_value").text(data.data.swDTO.payloadStatus);
        $("#inEclipseMode_value").text(data.data.swDTO.inEclipseMode);
        $("#inAutoMode_value").text(data.data.swDTO.inAutoMode);
        $("#ctcssDetect_value").text(data.data.swDTO.ctcssDetect);
        $("#safeModeState_value").text(data.data.swDTO.safeModeState);
        $("#inSafeMode_value").text(data.data.swDTO.inSafeMode);

        $("#roll_value").text(data.data.eseoAttitudeDTO.roll);
        $("#pitch_value").text(data.data.eseoAttitudeDTO.pitch);
        $("#yaw_value").text(data.data.eseoAttitudeDTO.yaw);
        $("#xPosition_value").text(data.data.eseoAttitudeDTO.xPosition);
        $("#yPosition_value").text(data.data.eseoAttitudeDTO.yPosition);
        $("#zPosition_value").text(data.data.eseoAttitudeDTO.zPosition);

        $("#voltageSolarPanel1_value").text(data.data.eseoOBCDTO.voltageSolarPanel1);
        $("#voltageSolarPanel2_value").text(data.data.eseoOBCDTO.voltageSolarPanel2);
        $("#voltageSolarPanel3_value").text(data.data.eseoOBCDTO.voltageSolarPanel3);
        $("#mode_value").text(data.data.eseoOBCDTO.mode);
        $("#wdResetCount_value").text(data.data.eseoOBCDTO.wdResetCount);
        $("#sBandAmpTemp_value").text(data.data.eseoOBCDTO.sBandAmpTemp);
        $("#mainBusVoltage_value").text(data.data.eseoOBCDTO.mainBusVoltage);
        $("#amsatSwitchCurrent_value").text(data.data.eseoOBCDTO.amsatSwitchCurrent);
        $("#momentumWheelVoltage_value").text(data.data.eseoOBCDTO.momentumWheelVoltage);
        $("#momentumWheelCurrent_value").text(data.data.eseoOBCDTO.momentumWheelCurrent);
        $("#momentumWheelSpeed_value").text(data.data.eseoOBCDTO.momentumWheelSpeed);
        $("#tankPressure_value").text(data.data.eseoOBCDTO.tankPressure);
        $("#temperatureSolarPanel1_value").text(data.data.eseoOBCDTO.temperatureSolarPanel1);
        $("#temperatureBattery1_value").text(data.data.eseoOBCDTO.temperatureBattery1);

        $("#tmtcMain_value").text(data.data.eseoStatusDTO.tmtcMain);
        $("#tmtcRedundant_value").text(data.data.eseoStatusDTO.tmtcRedundant);
        $("#powerUnitMain_value").text(data.data.eseoStatusDTO.powerUnitMain);
        $("#powerUnitRedundant_value").text(data.data.eseoStatusDTO.powerUnitRedundant);
        $("#inSafeModeESEO_value").text(data.data.eseoStatusDTO.inSafeMode);
        $("#sunSensorMain_value").text(data.data.eseoStatusDTO.sunSensorMain);
        $("#earthSensor_value").text(data.data.eseoStatusDTO.earthSensor);
        $("#magnetometerMain_value").text(data.data.eseoStatusDTO.magnetometerMain);
        $("#magneometerRedundant_value").text(data.data.eseoStatusDTO.magneometerRedundant);
        $("#magneticTorquerMain_value").text(data.data.eseoStatusDTO.magneticTorquerMain);
        $("#magneticTorquerRedundant_value").text(data.data.eseoStatusDTO.magneticTorquerRedundant);
        $("#momentumWheelMain_value").text(data.data.eseoStatusDTO.momentumWheelMain);
        $("#momentumWheelRedundant_value").text(data.data.eseoStatusDTO.momentumWheelRedundant);
        $("#tritel_value").text(data.data.eseoStatusDTO.tritel);
        $("#langmuirProbe_value").text(data.data.eseoStatusDTO.langmuirProbe);
        $("#uCAM_value").text(data.data.eseoStatusDTO.uCAM);
        $("#deOrbitmechanism_value").text(data.data.eseoStatusDTO.deOrbitmechanism);
        $("#amsatPayload_value").text(data.data.eseoStatusDTO.amsatPayload);
        $("#sBand_value").text(data.data.eseoStatusDTO.sBand);
        $("#gpsReceiver_value").text(data.data.eseoStatusDTO.gpsReceiver);

        $("#site_list").html('');
        var items = [];
        $.each(data.data.sites, function (id, site) {
            items.push('<li>' + site + '</li>');
        });
        $("#site_list").append(items.join(''));


    }
</script>

</body>
</html>