<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>



<aside class="bg-white border-right DashSidebar" th:fragment="default">
    <div class="DashSidebar__Logo d-none d-md-block p-24 text-center border-bottom">
        <img class="mx-auto" src="/images/nayif-1_200.png" style="width: 62%;"/>
    </div>
    <div class="DashSidebar__Name px-24 py-16 border-bottom">
        <span class="d-block font-weight-bold text-uppercase">AMSAT-UK Data Warehouse</span>
    </div>
    <nav class="DashSidebar__Nav p-24">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="#" th:href="@{/missions}">Missions</a>
            </li>
            <li class="nav-item">
                <a href="#" th:href="@{/ranking}">Ranking</a>
            </li>
            <li class="nav-item">
                <a href="#" th:href="@{/registration}">Register</a>
            </li>
        </ul>
    </nav>
    <div class="DashSidebar__Legal d-none d-md-block px-24 py-16 border-top text-center">
        <span class="text-muted">Developed by</span><span><br><a href="http://www.badgersoft.com">Badgersoft.com Limited</a></span>
    </div>
</aside>

<div class="d-block px-24 px-md-32 DashMainWrapper">
    <main role="main" class="DashMain">
        <div layout:fragment="main"></div>
    </main>
</div>



</body>
</html>