<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/eseo/page}">
<head>
    <title>ESEO</title>
</head>
<body>

<main id="main" role="main">
    <div layout:fragment="main">



        <div class="d-md-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom DashPage__Title">
            <h1 class="h2">ESEO Realtime Data</h1>
        </div>

        <div class="DashSection mt-0">
            <p>This page shows the latest value of all the housekeeping parameters in the spacecraft.
            <br>The data has been collected by one or more of the ground stations who are submitting this data from all around the world.</br></p>
            <div class="row">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab-eps">EPS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-obc">ESEO OBC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-status">ESEO STATUS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-attitude">ESEO ATTITUDE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-rf">RF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-pa">PA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-sw">SW</a>
                    </li>
                </ul>

                <div class="w-100"></div>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="tab-eps" class="container tab-pane active"><br>
                        <h4>Electrical Power Subsystem</h4>
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center; white-space: nowrap;">Value</th>
                                <th style="text-align: center; white-space: nowrap;">Min.</th>
                                <th style="text-align: center; white-space: nowrap;">Max.</th>
                            </tr>
                            <tr>
                                <td style="text-align: center;">DC to DC Voltage</td>
                                <td style="text-align: center;" id = "dcConvVoltsOut_value">2753 V</td>
                                <td style="text-align: center;" id = "dcConvVoltsOut_min">N/A</td>
                                <td style="text-align: center;" id = "dcConvVoltsOut_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">DC to DC Current</td>
                                <td style="text-align: center;" id = "dcConvCurrOut_value">3172 mA</td>
                                <td style="text-align: center;" id = "dcConvCurrOut_min">N/A</td>
                                <td style="text-align: center;" id = "dcConvCurrOut_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">DC to DC Temp.</td>
                                <td style="text-align: center;" id = "dcConvTemp_value">3421 mV</td>
                                <td style="text-align: center;" id = "dcConvTemp_min">N/A</td>
                                <td style="text-align: center;" id = "dcConvTemp_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Enclosure Temp.</td>
                                <td style="text-align: center;" id = "enclosureTemp_value">3421 mV</td>
                                <td style="text-align: center;" id = "enclosureTemp_min">N/A</td>
                                <td style="text-align: center;" id = "enclosureTemp_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Processor Temp.</td>
                                <td style="text-align: center;" id="cctProcTemp_value">7647 mV</td>
                                <td style="text-align: center;" id="cctProcTemp_min">N/A</td>
                                <td style="text-align: center;" id="cctProcTemp_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">3.3 Voltage</td>
                                <td style="text-align: center;" id="volts3v3_value">3 mA</td>
                                <td style="text-align: center;" id="volts3v3_min">N/A</td>
                                <td style="text-align: center;" id="volts3v3_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">3.3 Current</td>
                                <td style="text-align: center;" id="curr3v3_value">0 mA</td>
                                <td style="text-align: center;" id="curr3v3_min">N/A</td>
                                <td style="text-align: center;" id="curr3v3_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Transp. Supp. Volts</td>
                                <td style="text-align: center;" id="volts6v9_value">3 mA</td>
                                <td style="text-align: center;" id="volts6v9_min">N/A</td>
                                <td style="text-align: center;" id="volts6v9_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Transp. Supp. Curr.</td>
                                <td style="text-align: center;" id="curr6v9_value">7 mA</td>
                                <td style="text-align: center;" id="curr6v9_min">N/A</td>
                                <td style="text-align: center;" id="curr6v9_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Volts 9v</td>
                                <td style="text-align: center;" id="volts9v_value">177 mA</td>
                                <td style="text-align: center;" id="volts9v_min">N/A</td>
                                <td style="text-align: center;" id="volts9v_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Current 9v</td>
                                <td style="text-align: center;" id="curr9v_value">14</td>
                                <td style="text-align: center;" id="curr9v_min">N/A</td>
                                <td style="text-align: center;" id="curr9v_max">N/A</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab-obc" class="container tab-pane"><br>
                        <h4>ESEO On Board Computer</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div id="tab-status" class="container tab-pane"><br>
                        <h4>ESEO Equipment Status</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div id="tab-attitude" class="container tab-pane"><br>
                        <h4>ESEO Attitude Control</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>


                    <div id="tab-rf" class="container tab-pane"><br>
                        <h4>Communication Subsystem</h4>
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center; white-space: nowrap;">Value</th>
                                <th style="text-align: center; white-space: nowrap;">Min.</th>
                                <th style="text-align: center; white-space: nowrap;">Max.</th>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Transponder RSSI</td>
                                <td style="text-align: center;" id = "lBandTranspRxRssi_value">2753 V</td>
                                <td style="text-align: center;" id = "lBandTranspRxRssi_min">N/A</td>
                                <td style="text-align: center;" id = "lBandTranspRxRssi_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Command RSSI</td>
                                <td style="text-align: center;" id = "lBandCmdRxRssi_value">3172 mA</td>
                                <td style="text-align: center;" id = "lBandCmdRxRssi_min">N/A</td>
                                <td style="text-align: center;" id = "lBandCmdRxRssi_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Command Doppler</td>
                                <td style="text-align: center;" id = "lBandCmdRxDop_value">3421 mV</td>
                                <td style="text-align: center;" id = "lBandCmdRxDop_min">N/A</td>
                                <td style="text-align: center;" id = "lBandCmdRxDop_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Command Osc. Temp.</td>
                                <td style="text-align: center;" id = "lBandCmdRxTemp_value">3421 mV</td>
                                <td style="text-align: center;" id = "lBandCmdRxTemp_min">N/A</td>
                                <td style="text-align: center;" id = "lBandCmdRxTemp_max">N/A</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>



                    <div id="tab-pa" class="container tab-pane"><br>
                        <h4>RF Power Amplifier</h4>
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center; white-space: nowrap;">Value</th>
                                <th style="text-align: center; white-space: nowrap;">Min.</th>
                                <th style="text-align: center; white-space: nowrap;">Max.</th>
                            </tr>
                            <tr>
                                <td style="text-align: center;">FM Amplifier Temp.</td>
                                <td style="text-align: center;" id = "fmTxTemp_value">2753 V</td>
                                <td style="text-align: center;" id = "fmTxTemp_min">N/A</td>
                                <td style="text-align: center;" id = "fmTxTemp_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">BPSK Amplifier Temp.</td>
                                <td style="text-align: center;" id = "bpskTemp_value">3172 mA</td>
                                <td style="text-align: center;" id = "bpskTemp_min">N/A</td>
                                <td style="text-align: center;" id = "bpskTemp_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Forward Power</td>
                                <td style="text-align: center;" id = "txRevPwr_value">3421 mV</td>
                                <td style="text-align: center;" id = "txRevPwr_min">N/A</td>
                                <td style="text-align: center;" id = "txRevPwr_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Reverse Power</td>
                                <td style="text-align: center;" id = "txFwdPwr_value">3421 mV</td>
                                <td style="text-align: center;" id = "txFwdPwr_min">N/A</td>
                                <td style="text-align: center;" id = "txFwdPwr_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">BPSK Amplifier Curr.</td>
                                <td style="text-align: center;" id="bpskCurr_value">7647 mV</td>
                                <td style="text-align: center;" id="bpskCurr_min">N/A</td>
                                <td style="text-align: center;" id="bpskCurr_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">BPSK Amp. 3.3 Volts</td>
                                <td style="text-align: center;" id="bpsk3v3_value">3 mA</td>
                                <td style="text-align: center;" id="bpsk3v3_min">N/A</td>
                                <td style="text-align: center;" id="bpsk3v3_max">N/A</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>



                    <div id="tab-sw" class="container tab-pane"><br>
                        <h4>Software State</h4>
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center; white-space: nowrap;">Value</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Sequence Number</td>
                                    <td style="text-align: center;" id = "sequenceNumber_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Last Commmand</td>
                                    <td style="text-align: center;" id = "dtmfLastCmd_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">RF Mode</td>
                                    <td style="text-align: center;" id = "rfMode_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Data Mode</td>
                                    <td style="text-align: center;" id = "dataMode_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Payload Transfer Status</td>
                                    <td style="text-align: center;" id = "payloadStatus_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">In Eclipe Mode</td>
                                    <td style="text-align: center;" id = "inEclipseMode_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">In Auto. Mode</td>
                                    <td style="text-align: center;" id = "inAutoMode_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">CTCSS Detect State</td>
                                    <td style="text-align: center;" id = "ctcssDetect_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Safe Mode State</td>
                                    <td style="text-align: center;" id = "safeModeState_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">In Safe Mode</td>
                                    <td style="text-align: center;" id = "inSafeMode_value">2753 V</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>