<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/eseo/page}">
<head>
    <title>ESEO</title>
</head>
<body>

<main id="main" role="main">
    <div layout:fragment="main">



        <div class="d-md-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom DashPage__Title">
            <h1 class="h2">ESEO Realtime Data</h1>
        </div>

        <div class="DashSection mt-0">
            <p>This page shows the latest value of all the housekeeping parameters in the spacecraft.
            <br>The data has been collected by one or more of the ground stations who are submitting this data from all around the world.</br></p>

            <h6 id="lat_long" style="text-align: left;">Satellite Latitude, Longitude: 18.77 S, 108.2 W  </h6>
            <h6 id="created_date" style="text-align: left;">Uploaded at: 2017-01-10 15:48:40.0 UTC</h6>

            <div class="row">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab-eps">EPS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-obc">ESEO OBC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-status">ESEO STATUS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-attitude">ESEO ATTITUDE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-rf">RF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-pa">PA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-sw">SW</a>
                    </li>
                </ul>

                <div class="w-100"></div>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="tab-eps" class="container tab-pane active"><br>
                        <h4>Electrical Power Subsystem</h4>
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center; white-space: nowrap;">Value</th>
                                <th style="text-align: center; white-space: nowrap;">Min.</th>
                                <th style="text-align: center; white-space: nowrap;">Max.</th>
                            </tr>
                            <tr>
                                <td style="text-align: center;">DC to DC Voltage</td>
                                <td style="text-align: center;" id = "dcConvVoltsOut_value">2753 V</td>
                                <td style="text-align: center;" id = "dcConvVoltsOut_min">N/A</td>
                                <td style="text-align: center;" id = "dcConvVoltsOut_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">DC to DC Current</td>
                                <td style="text-align: center;" id = "dcConvCurrOut_value">3172 mA</td>
                                <td style="text-align: center;" id = "dcConvCurrOut_min">N/A</td>
                                <td style="text-align: center;" id = "dcConvCurrOut_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">DC to DC Temp.</td>
                                <td style="text-align: center;" id = "dcConvTemp_value">3421 mV</td>
                                <td style="text-align: center;" id = "dcConvTemp_min">N/A</td>
                                <td style="text-align: center;" id = "dcConvTemp_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Enclosure Temp.</td>
                                <td style="text-align: center;" id = "enclosureTemp_value">3421 mV</td>
                                <td style="text-align: center;" id = "enclosureTemp_min">N/A</td>
                                <td style="text-align: center;" id = "enclosureTemp_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Processor Temp.</td>
                                <td style="text-align: center;" id="cctProcTemp_value">7647 mV</td>
                                <td style="text-align: center;" id="cctProcTemp_min">N/A</td>
                                <td style="text-align: center;" id="cctProcTemp_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">3.3 Voltage</td>
                                <td style="text-align: center;" id="volts3v3_value">3 mA</td>
                                <td style="text-align: center;" id="volts3v3_min">N/A</td>
                                <td style="text-align: center;" id="volts3v3_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">3.3 Current</td>
                                <td style="text-align: center;" id="curr3v3_value">0 mA</td>
                                <td style="text-align: center;" id="curr3v3_min">N/A</td>
                                <td style="text-align: center;" id="curr3v3_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Transp. Supp. Volts</td>
                                <td style="text-align: center;" id="volts6v9_value">3 mA</td>
                                <td style="text-align: center;" id="volts6v9_min">N/A</td>
                                <td style="text-align: center;" id="volts6v9_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Transp. Supp. Curr.</td>
                                <td style="text-align: center;" id="curr6v9_value">7 mA</td>
                                <td style="text-align: center;" id="curr6v9_min">N/A</td>
                                <td style="text-align: center;" id="curr6v9_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Volts 9v</td>
                                <td style="text-align: center;" id="volts9v_value">177 mA</td>
                                <td style="text-align: center;" id="volts9v_min">N/A</td>
                                <td style="text-align: center;" id="volts9v_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Current 9v</td>
                                <td style="text-align: center;" id="curr9v_value">14</td>
                                <td style="text-align: center;" id="curr9v_min">N/A</td>
                                <td style="text-align: center;" id="curr9v_max">N/A</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab-obc" class="container tab-pane"><br>
                        <h4>ESEO On Board Computer</h4><table style="width: 100%;">
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center;">Value</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Voltage Solar Panel 1</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Voltage Solar Panel 2</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Voltage Solar Panel 3</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">OBC Mode</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">WD Reset Count</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">ESEO S-Band Amp Temp</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Main Bus Voltage</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">AMSAT Switch Current</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Momentum Wheel Voltage</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Momentum Wheel Current</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Momentum Wheel Speed</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Tank Pressure</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Temperature Solar Panel 1</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Temperature Battery 1</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab-status" class="container tab-pane"><br>
                        <h4>ESEO Equipment Status</h4>
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center;">Value</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">TMTC Main</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">TMTC Redundant</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Power Unit Main</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Power Unit Redundant</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">In Safe Mode</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Sun Sensor Main</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Earth Sensor</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Magnetometer Main</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Magneometer Redundant</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Magnetic Torquer Main</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Magnetic Torquer Redundant</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Momentum Wheel Main</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Momentum Wheel Redundant</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">TRITEL</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Langmuir Probe</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">uCAM</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">De-orbt mechanism</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">AMSAT Payload</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">S-Band</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">GPS Receiver</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tab-attitude" class="container tab-pane"><br>
                        <h4>ESEO Attitude Control</h4>
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center;">Value</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Roll</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Pitch</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Yaw</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">X Position</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Y Position</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Z Position</td>
                                    <td style="text-align: center;">N/A</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>


                    <div id="tab-rf" class="container tab-pane"><br>
                        <h4>Communication Subsystem</h4>
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center; white-space: nowrap;">Value</th>
                                <th style="text-align: center; white-space: nowrap;">Min.</th>
                                <th style="text-align: center; white-space: nowrap;">Max.</th>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Transponder RSSI</td>
                                <td style="text-align: center;" id = "lBandTranspRxRssi_value">2753 V</td>
                                <td style="text-align: center;" id = "lBandTranspRxRssi_min">N/A</td>
                                <td style="text-align: center;" id = "lBandTranspRxRssi_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Command RSSI</td>
                                <td style="text-align: center;" id = "lBandCmdRxRssi_value">3172 mA</td>
                                <td style="text-align: center;" id = "lBandCmdRxRssi_min">N/A</td>
                                <td style="text-align: center;" id = "lBandCmdRxRssi_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Command Doppler</td>
                                <td style="text-align: center;" id = "lBandCmdRxDop_value">3421 mV</td>
                                <td style="text-align: center;" id = "lBandCmdRxDop_min">N/A</td>
                                <td style="text-align: center;" id = "lBandCmdRxDop_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Command Osc. Temp.</td>
                                <td style="text-align: center;" id = "lBandCmdRxTemp_value">3421 mV</td>
                                <td style="text-align: center;" id = "lBandCmdRxTemp_min">N/A</td>
                                <td style="text-align: center;" id = "lBandCmdRxTemp_max">N/A</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>



                    <div id="tab-pa" class="container tab-pane"><br>
                        <h4>RF Power Amplifier</h4>
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center; white-space: nowrap;">Value</th>
                                <th style="text-align: center; white-space: nowrap;">Min.</th>
                                <th style="text-align: center; white-space: nowrap;">Max.</th>
                            </tr>
                            <tr>
                                <td style="text-align: center;">FM Amplifier Temp.</td>
                                <td style="text-align: center;" id = "fmTxTemp_value">2753 V</td>
                                <td style="text-align: center;" id = "fmTxTemp_min">N/A</td>
                                <td style="text-align: center;" id = "fmTxTemp_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">BPSK Amplifier Temp.</td>
                                <td style="text-align: center;" id = "bpskTemp_value">3172 mA</td>
                                <td style="text-align: center;" id = "bpskTemp_min">N/A</td>
                                <td style="text-align: center;" id = "bpskTemp_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Forward Power</td>
                                <td style="text-align: center;" id = "txRevPwr_value">3421 mV</td>
                                <td style="text-align: center;" id = "txRevPwr_min">N/A</td>
                                <td style="text-align: center;" id = "txRevPwr_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">Reverse Power</td>
                                <td style="text-align: center;" id = "txFwdPwr_value">3421 mV</td>
                                <td style="text-align: center;" id = "txFwdPwr_min">N/A</td>
                                <td style="text-align: center;" id = "txFwdPwr_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">BPSK Amplifier Curr.</td>
                                <td style="text-align: center;" id="bpskCurr_value">7647 mV</td>
                                <td style="text-align: center;" id="bpskCurr_min">N/A</td>
                                <td style="text-align: center;" id="bpskCurr_max">N/A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">BPSK 3v3 Supply Curr.</td>
                                <td style="text-align: center;" id="bpsk3v3_value">3 mA</td>
                                <td style="text-align: center;" id="bpsk3v3_min">N/A</td>
                                <td style="text-align: center;" id="bpsk3v3_max">N/A</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>



                    <div id="tab-sw" class="container tab-pane"><br>
                        <h4>Software State</h4>
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center; white-space: nowrap;">Value</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Sequence Number</td>
                                    <td style="text-align: center;" id = "sequenceNumber_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Last Commmand</td>
                                    <td style="text-align: center;" id = "dtmfLastCmd_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">RF Mode</td>
                                    <td style="text-align: center;" id = "rfMode_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Data Mode</td>
                                    <td style="text-align: center;" id = "dataMode_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Payload Transfer Status</td>
                                    <td style="text-align: center;" id = "payloadStatus_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">In Eclipe Mode</td>
                                    <td style="text-align: center;" id = "inEclipseMode_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">In Auto. Mode</td>
                                    <td style="text-align: center;" id = "inAutoMode_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">CTCSS Detect State</td>
                                    <td style="text-align: center;" id = "ctcssDetect_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">Safe Mode State</td>
                                    <td style="text-align: center;" id = "safeModeState_value">2753 V</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">In Safe Mode</td>
                                    <td style="text-align: center;" id = "inSafeMode_value">2753 V</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>